.DS_Store
*.pyc
*.tsv
*.csv
*.owl
*.txt
*.pdf
*.tgz
*.xml
*-checkpoint.ipynb
*.sublime-project
*.sublime-workspace
env
sftp-config.json
*.pkl
!classifier.pkl
*.sql
*.bak
data/phenotypes/snorkel/dicts*
*tmp
*.db
